<!-- Profile Input Dialog Template-->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<div class="modal-header">
	<h3>Edit My Profile</h3>
</div>
<div class="modal-body">
	<form role="form" name="profileInputForm">
	
		<!-- Display Name -->
		<div class="form-group {{(profileInputForm.name.$valid)?'':'has-error'}}">
			<label class="col-md-3 control-label" for="input-name">* User Name</label>
			<div class="col-md-9">
				<input id="input-name" name="name" type="text"
					class="form-control" ng-model="profileForm.username" ng-required="true"
					placeholder= {{myaccount.username}} />
			</div>
		</div>
		
		<!-- Email -->
		<div class="form-group {{(profileInputForm.email.$valid)?'':'has-error'}}">
			<label class="col-md-3 control-label" for="input-email">* Email Address</label>
			<div class="col-md-9">
				<input id="input-email" name="email" type="email"
					class="form-control" ng-model="profileForm.email" ng-required="true"
					placeholder={{myaccount.email}}
					popover="Your email address will not be published!" 
        			popover-trigger="focus"
        			 />
        	</div>
		</div>
		
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="saveProfile()" ng-disabled="profileInputForm.$invalid">Save</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>