<h1>Hi {{vm.username}}!</h1>

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<a href="#/myaccount"> <label>Your Account</label></a>
<a href="#/twiposts"> <label>Your Twiposts</label></a>

<p>&nbsp;</p>

<p>&nbsp;</p>



<p><a href="#/login" class="btn btn-primary">Logout</a></p>